---
import { Image } from "astro:assets";
import Link from "./Link.astro";
import companyIcon from "../companyIcon.svg";

const contentColumns = [
  {
    heading: "Company",
    links: [
      {
        title: "get in touch",
        destination: "mailto:hello@siliwafer.com",
      },
      {
        title: "projects",
        destination: "/projects",
      },
    ],
  },
  {
    heading: "Legal",
    links: [
      {
        title: "privacy policy",
        destination: "/privacy-policy",
      },
    ],
  },
];
---

<footer class="bg-zinc-800" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-7xl px-6 pb-8 pt-16 sm:pt-24 lg:px-8">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="space-y-8">
        <Image class="w-7" src={companyIcon} alt="siliwafer logo" />
        <p class="text-sm leading-6 text-gray-300">r&d. data driven.</p>
        <div class="flex space-x-4">
          <a
            href="https://github.com/siliwafer"
            class="text-gray-500 hover:text-gray-400"
          >
            <span class="sr-only">GitHub</span>
            <svg
              class="h-6 w-6"
              fill="currentColor"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
          <a
            href="https://x.com/siliwafer"
            class="text-gray-500 hover:text-gray-400"
          >
            <span class="sr-only">X/Twitter</span>
            <svg
              class="h-6 w-6"
              fill="currentColor"
              width="12"
              height="12"
              viewBox="0 0 16 11"
              aria-hidden="true"
            >
              <path
                d="M7.14163 5.19284L11.6089 0H10.5503L6.67137 4.50887L3.57328 0H0L4.68492 6.81821L0 12.2637H1.05866L5.15491 7.50218L8.42672 12.2637H12.00L7.14137 5.19284H7.14163ZM5.69165 6.87828L5.21697 6.19934L1.44011 0.796944H3.06615L6.11412 5.15685L6.5888 5.83579L10.5508 11.503H8.92476L5.69165 6.87854V6.87828Z"
              ></path>
            </svg>
          </a>
        </div>
      </div>
      <div
        class="md:mt-16 grid grid-cols-1 md:grid-cols-2 gap-8 xl:col-span-2 xl:mt-0"
      >
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div></div>
          <div class="mt-10 md:mt-0"></div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          {
            contentColumns.map((column) => (
              <div class="mt-10 md:mt-0">
                <h3 class="text-sm font-semibold leading-6 text-white">
                  {column.heading}
                </h3>
                <ul role="list" class="mt-6 space-y-4">
                  {column.links.map((link) => (
                    <li>
                      <Link href={link.destination} label={link.title} />
                    </li>
                  ))}
                </ul>
              </div>
            ))
          }
        </div>
      </div>
    </div>
    <div class="mt-16 border-t border-white/10 pt-8 sm:mt-20 lg:mt-24">
      <p class="text-xs leading-5 text-gray-400">
        &copy; {new Date().getFullYear()} SILIWAFER LLC. All rights reserved.
      </p>
    </div>
  </div>
</footer>
