---
import Footer from "../components/Footer.astro";

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="r&d. data driven." />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-zinc-900">
    <main class="min-h-screen flex flex-col">
      <div class="py-24 sm:py-32 lg:pb-40 flex-1">
        <div class="mx-auto max-w-7xl p-6 lg:px-8">
          <div class="rounded-xl p-4">
            <h1
              class="sm:text-6xl text-4xl lg:text-8xl font-bold tracking-tight bg-gradient-to-r from-gray-600 to-purple-200 bg-clip-text text-transparent"
            >
              siliwafer
            </h1>
            <slot />
          </div>
        </div>
      </div>
      <Footer />
    </main>
  </body>
</html>
